* {
  box-sizing: content-box;
}

body {
  font-family: Latin, "Helvetica Neue", sans-serif;
  color: #777;
  background: url("../images/background.jpg");
}

h1{
  text-align: right;
}

.character {
  height: 110px;
  width: 110px;
  margin: 2px;
}

p{
  font-size: 16px;
  line-height: 4px;
}

.text-center{
  margin-top: 6px;
}

.character-div {
  display: inline-block;
  height: 150px;
  width: 150px;
  border: solid 4px green;
  margin: 5px;
  background-color: white;
}
